<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/highcharts-chart/highcharts-chart.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../i18n-component/i18n-component.html">


<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <style>
      :host {
        display: block;
        text-align: center;
      }
      .modal-dialog {
        background-color: rgba(0, 0, 0, .0001) !important;
      }

      .modal-login {
        width: 350px;
      }

      .modal-login .modal-content {
        padding: 5px;
        border-radius: 1px;
        border: none;
        background-color: rgba(227, 254, 255, 0.2);

      }

      .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
      }

      .modal-login h4 {
        text-align: center;
        font-size: 46px;
      }

      .modal-login .form-group {
        margin-bottom: 5px;
      }

      .modal-login .form-control,
      .modal-login .btn {
        min-height: 40px;
        border-radius: 30px;
        font-size: 15px;
        transition: all 0.5s;
      }

      .modal-login .form-control {
        font-size: 13px;
      }

      .modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
      }

      .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
      }

      .modal-login .btn {
        background: #0062cc;
        border: none;
        line-height: normal;
      }

      .modal-login .btn:hover,
      .modal-login .btn:focus {
        background: #3b92ee;
      }

      .modal-login .hint-text a {
        color: #3b92ee;
      }

      #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }

      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

      @-webkit-keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }

        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }

        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @-webkit-keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }

        to {
          bottom: 0;
          opacity: 0;
        }
      }

      @keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }

        to {
          bottom: 0;
          opacity: 0;
        }
      }

      .transparente {
        opacity: 0.5;
        background-color: #ffffff;
      }
      #createMov {
        background-color: rgba(255, 255, 255, 0.8);
      }

      #button-movements {
        font-size: 2.5vh;
      }
    </style>

    <template id="movs" is="dom-if" if="{{mostrarMovimientos}}">

      <template is="dom-if" if="{{!existenMovimientos}}">
        <h1>No tienes Movimientos en esta cuenta</h1>
        <img src="/src/resources/money-transfer.jpg" width="400" height="300" alt="" >
        <h2>¡ Anímate a crear uno !</h2>
        <br>
      </template>

      <div class="container">
        <button id="button-movements" class="btn btn-primary" on-click="showAccounts"></i>Volver a mis cuentas</button>
        <button id="button-movements" class="btn btn-primary" on-click="crearMovimiento">Crear Movimiento</button>
      </div>

      <template is="dom-if" if="{{existenMovimientos}}">
        <h2>Seleccione un rango de fechas para la consulta: </h2>
        <p>
          <p><label for="bday">Escriba la fecha inicial de la consulta</label>
            <input id="dateini" on-change="cambioFechaIni" type="date">
            <label for="bday">Escriba la fecha final de la consulta</label>
            <input id="datefin" on-change="cambioFechaFin" type="date">
            <button class="btn btn-primary" on-click="generatePdf">Generar Pdf</button>
          </p>
        </p>
        <h1>Lista de Movimientos</h1>

          <table id="tablaMovs"  width="40%" class="table table-striped">
            <thead>
              <th>Fecha</th>
              <th>Importe</th>
              <th>Tipo</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{movimientos}}">
                <tr>
                  <td>{{item.fecha}}</td>
                  <td>{{item.importe}}</td>
                  <td>{{item.tipo}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        <h2>Tipos de movimientos más comunes</h2>

      </template>
      <paper-dialog id="createMov" with-backdrop>
        <div id="myModal">
          <div class="modal-dialog modal-login ">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Crear Movimiento</h4>
                <button type="button" on-click="closeDialog" class="close" data-dismiss="modal"
                  aria-hidden="true">×</button>
              </div>
                <input id="importeInput" type="number" min="999" class="form-control" placeholder="Importe"
                  value="{{importe}}" required>
                <select id="tipoInput" class="form-control" required>
                  <option class="hidden" selected disabled>Por favor seleccione el tipo de movimiento</option>
                  <option>Pago PSE</option>
                  <option>Retiro Cajero Automático</option>
                  <option>Pago por Crédito</option>
                  <option>Consignación</option>
                </select>
                <button on-click="onCreateMov" class="btn btn-primary btn-block btn-lg">Crear Movimiento</button>
                <template is="dom-if" if="{{invalidnewMov}}">
                  <p>Seleccione el tipo de movimiento o introduzca un valor mayor o igual a $1000</p>
                </template>
            </div>
          </div>
        </div>
      </paper-dialog>
      <div id="snackbar"></div>


    </template>
    <highcharts-chart class="transparente" id="pieChart" type="pie" color-by-point="{{color}}" x-zoom>
    </highcharts-chart>
    <iron-meta id="appconfig" key="config"></iron-meta>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends LocalizationComponent {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            value: function () {
              return [];
            },
            notify: true
          },
          color: {
            type: Boolean,
            value: true
          },
          respuesta: {
            type: String,
            value: ''
          },
          cuenta: {
            type: Object,
            observer: 'actualizarCuenta',
            notify: true
          },
          urlPdf: {
            type: String
          },
          mostrarMovimientos: {
            type: Boolean,
            notify: true
          },
          fechaIni: {
            type: Date
          },
          fechaFin: {
            type: Date
          },
          importe: {
            type: Number,
          },
          tipo: {
            type: String
          },
          apiUrl: {
            type: String
          },
          invalidnewMov: {
            type: Boolean
          },
          existenMovimientos: {
            type: Boolean,
            value: false
          },
          movCreado: {
            type: Boolean,
            value: false
          },
          cantMovsCreados: {
            type: Number,
            value: 0
          }
        };
      }



      onCreateMov() {
        if (this.shadowRoot.querySelector('#importeInput').value > 999 &&
          this.shadowRoot.querySelector('#tipoInput').value != 'Por favor seleccione el tipo de movimiento') {
          this.tipo = this.shadowRoot.querySelector('#tipoInput').value;
          this.importe = this.shadowRoot.querySelector('#importeInput').value;
          if (this.tipo != 'Consignación') {
            this.importe = -(this.importe);
          }
          this.anadirMovimiento();
        }
        else {
          this.invalidnewMov = true;
        }

      }

      showSnack(text) {
        var snack = this.shadowRoot.querySelector('#snackbar');
        snack.innerHTML = text;
        snack.className = "show";
        setTimeout(function () { snack.className = snack.className.replace("show", ""); }, 3000);
      }

      cambioFechaIni(e) {
        this.shadowRoot.querySelector('#datefin').setAttribute("min", e.target.value);
        this.fechaIni = new Date(e.target.value.replace(/-/g, '\/'));
      }


      closeDialog() {
        this.shadowRoot.querySelector('#createMov').close();
        this.invalidnewMov = false;

      }

      cambioFechaFin(e) {
        this.fechaFin = new Date(e.target.value.replace(/-/g, '\/'));
        this.filterMovs();
      }

      crearMovimiento() {
        this.shadowRoot.querySelector('#createMov').open();
      }

      filterMovs() {
        let movsFil = [];
        for (var mov in this.cuenta.listadoMovimientos) {
          let fecha = new Date(this.cuenta.listadoMovimientos[mov].fecha.replace(/-/g, '\/'));
          if (fecha <= this.fechaFin && fecha >= this.fechaIni) {
            movsFil.push(this.cuenta.listadoMovimientos[mov]);
          }
        }
        this.movimientos = movsFil;
        this.generatePieData();
      }

      actualizarMovimientos(nuevo, antiguo) {
        this.mostrarMovimientos = nuevo;
      }

      actualizarCuenta(nueva, antigua) {
        if (nueva != undefined) {
          this.obtenerMovimientos();
        }
        else {
          this.$.pieChart.setData([]);
          this.existenMovimientos = false;
        }

      }

      obtenerMovimientos(){
        var token = sessionStorage.getItem("Session");
        const url = this.apiUrl + "/api/movimientos/"+this.cuenta.idCliente+'/'+this.cuenta.idCuenta;
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader('authorization', token);
        request.onload = () => {
          this.tokenRefresh(JSON.parse(request.response));
        };
        request.send();
        this.movimientos = JSON.parse(request.responseText).listado;
        if (this.movimientos.length > 0) {
            this.mostrarMovimientos = true;
            this.existenMovimientos = true;
            this.generatePieData();
          }
          else {
            this.mostrarMovimientos = false;
            this.existenMovimientos = false;
          }
      }

      generatePieData() {
        var data = {};
        var pie = [];
        for (var i = 0; i < this.movimientos.length; i++) {
          if (data[this.movimientos[i].tipo] != undefined) {
            data[this.movimientos[i].tipo]++
          }
          else {
            data[this.movimientos[i].tipo] = 1;
          }
        }
        for (var j in data) {
          var value = j;
          pie.push({ "name": value, "y": data[j] });
        }
        this.$.pieChart.setData(pie);
      }

      generatePdf() {
        var token = sessionStorage.getItem("Session");

        let bodyPdf =
        {
          nombre: this.cuenta.tipo,
          listadoMovimientos: this.movimientos
        }
        if(this.fechaIni != undefined && this.fechaFin != undefined){
          bodyPdf['iniDate']= this.fechaIni.toISOString().substring(0, 10);
          bodyPdf['finDate']= this.fechaFin.toISOString().substring(0, 10)
        }

        const url = this.apiUrl + "/api/movimientos/pdf";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader('authorization', token);
        request.onload = () => {
          this.tokenRefresh(JSON.parse(request.response));
        };
        request.send(JSON.stringify(bodyPdf));
        var objrespon = JSON.parse(request.response);
        window.open(objrespon.response, '_blank');

      }

      anadirMovimiento() {
        var token = sessionStorage.getItem("Session");
        const url = this.apiUrl + "/api/movimientos/" + this.cuenta.idCliente + "/" + this.cuenta.idCuenta;
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader('authorization', token);
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        let movimiento = { fecha: today, importe: this.importe, tipo: this.tipo };
        try {
          request.onload = () => {
            this.tokenRefresh(JSON.parse(request.response));
          };
          request.send(JSON.stringify(movimiento));
          this.respuesta = request.responseText;
          this.movimientos.push(movimiento);
          //this.movimientos = movs;
          this.refreshFields();
          this.showSnack("Movimiento creado satisfactoriamente");
          this.pintarMovimiento();
        }
        catch (error) {
          this.showSnack("El movimiento no se ha podido crear");
        }

      }

      pintarMovimiento() {
        this.movCreado=true;
        if(this.existenMovimientos==true){
          var table = this.shadowRoot.querySelector('#tablaMovs');
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          let movimiento = this.movimientos[this.movimientos.length - 1];
          cell1.innerHTML = movimiento.fecha;
          cell2.innerHTML = movimiento.importe;
          cell3.innerHTML = movimiento.tipo;
          this.cantMovsCreados+=1;
        }
        else{
          this.existenMovimientos=true;
        }
        this.generatePieData();

      }

      refreshFields() {
        this.importe = "";
        this.tipo = 'Por favor seleccione el tipo de movimiento';
        this.invalidnewMov = false;
        this.closeDialog();
      }

      ready() {
        super.ready();
        this.apiUrl = JSON.parse(this.$.appconfig.byKey('config')).urlServices || 'localhost:3000';
      }

      showAccounts() {
        this.cuenta = undefined;
        this.mostrarMovimientos = false;
        this.movimientos=[];
        if(this.movCreado == true){
          for (var i=0 ; i<this.cantMovsCreados ; i++){
            let table = this.shadowRoot.querySelector('#tablaMovs');
            table.deleteRow(-1);
          }
        }
        this.movCreado=false;
        this.cantMovsCreados=0;


      }
    }

    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
