<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/src/gestor-movimientos/gestor-movimientos.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../i18n-component/i18n-component.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-cuentas">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>

    <style>

      :host {
        text-align: center;
      }


      .left-body {
        width: 100%;
      }

      .h1-cuentas {
        text-align: center;
        padding-bottom: 25px;
      }

      .card {
        margin: 15px;
        height: 210px;
        text-align: center;
      }

      .rgba-gradient {

        background: rgba(153, 225, 247, 0.7);
        background: -moz-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153, 225, 247, 0.7)), color-stop(0%, rgba(164, 219, 237, 0.7)), color-stop(28%, rgba(200, 233, 244, 0.06)), color-stop(57%, rgba(238, 248, 252, 0.06)), color-stop(70%, rgba(255, 255, 255, 0.29)), color-stop(76%, rgba(236, 239, 242, 0.39)), color-stop(91%, rgba(190, 198, 209, 0.39)));
        background: -webkit-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: -o-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: -ms-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e1f7', endColorstr='#bec6d1', GradientType=1);

        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        top: 0;
        left: 0;
      }

      .show-component {
        display: block;
      }

      .hide-component {
        display: none;
      }

      #currencyTable {
        width: auto;
        margin-right: 0px;
      }

      #currencyTable td,
      th {
        font-size: 1.2vw
      }

      #currencyTable img {
        width: 20px;
        height: 20px;
      }

      #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }

      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

      @-webkit-keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }

        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }

        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @-webkit-keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }

        to {
          bottom: 0;
          opacity: 0;
        }
      }

      @keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }

        to {
          bottom: 0;
          opacity: 0;
        }
      }

      .modal-dialog {
        background-color: rgba(0, 0, 0, .0001) !important;
      }

      .modal-login {
        width: 350px;
      }

      .modal-login .modal-content {
        padding: 5px;
        border-radius: 1px;
        border: none;
        background-color: rgba(227, 254, 255, 0.2);

      }

      .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
      }

      .modal-login h4 {
        text-align: center;
        font-size: 46px;
      }

      .modal-login .form-group {
        margin-bottom: 5px;
      }

      .modal-login .form-control,
      .modal-login .btn {
        min-height: 40px;
        border-radius: 30px;
        font-size: 15px;
        transition: all 0.5s;
      }

      .modal-login .form-control {
        font-size: 13px;
      }

      .modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
      }

      .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
      }

      .modal-login .btn {
        background: #0062cc;
        border: none;
        line-height: normal;
      }

      .modal-login .btn:hover,
      .modal-login .btn:focus {
        background: #3b92ee;
      }

      .modal-login .hint-text a {
        color: #3b92ee;
      }

      #createAcc {
        background-color: rgba(255, 255, 255, 0.8);
      }

      .button {
        display: inline-block;
        background-color: #1b69bd;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s
      }

      @media (min-width: 600px) {
        .button {
          padding: 12px 45px
        }
      }

      .button:hover {
        background-color: #3b92ee;
        color: #fff
      }

      .button-header {
        padding: 7px 26px;
        border-radius: 0
      }

      .button-hero {
        align-self: center;
        font-size: 3.0vh;
      }

      @media (max-width: 845px) {
        .button-hero {
          padding: 8px 19px
        }
      }

      .button-shadow {
        box-shadow: #eee4e2
      }

      button.button {
        border: 0
      }

      .button-contactForm {
        border-radius: 5px
      }

      #createAccount {
        font-size: 2.5vh;
      }
    </style>

    <div id="snackbar">Cuenta creada satisfactoriamente</div>


    <iron-ajax id="currconvAjax" url="https://free.currconv.com/api/v7/convert"
      params='{"q":"PEN_COP,USD_COP,EUR_COP,CAD_COP,TRY_COP", "compact":"ultra", "apiKey": "e6390852367309111b62"}'
      handle-as="json" on-response="handleResponse">
    </iron-ajax>
    <div class="rgba-gradient">
      <div class="d-flex">
        <div class="mr-auto left-body">
          <template is="dom-if" if="{{!mostrarMovimientos}}">
            <template is="dom-if" if="{{!existenCuentas}}">
              <h1>No tienes cuentas asociadas</h1>
              <img src="/src/resources/inicia_ahora.jpg" width="400" height="300" alt="" >
              <p>
                <h2>¡ Anímate a crear una !</h2>
              </p>
              <button id="createAccount" class="btn btn-primary" on-click="crearCuenta">Crea tu cuenta ahora!</button>

            </template>
            <template is="dom-if" if="{{existenCuentas}}">
              <div class="center-padding">
                <h1 class="display-3 h1-cuentas">Mis Cuentas</h1>
                <div class="row">

                  <template is="dom-repeat" items="{{misCuentas}}">
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Tipo: {{item.tipo}}</h5>
                          <img src="/src/resources/{{item.tipo}}.jpg" width="52" height="52"></img>
                          <p class="card-text">Fecha: {{item.fecha}}</p>
                          <button class="btn btn-primary" on-click="showDetails">Ver Detalles</button>
                        </div>
                      </div>
                    </div>
                  </template>

                </div>
              </div>
            </template>

          </template>

          <gestor-movimientos id="mismovimientos" cuenta="{{cuenta}}" mostrar-movimientos="{{mostrarMovimientos}}">
          </gestor-movimientos>

        </div>
        <div class="flex-row-reverse">
          <table id="currencyTable" class="table hide-table">
            <tr>
              <th scope="col"></th>
              <th scope="row">COP <img src="/src/resources/flags/colombian.png" alt=""></th>
            </tr>
            <tr>
              <th scope="col">PEN <img src="/src/resources/flags/peru.png" alt=""></th>
              <td>[[currencyExchange.PEN]]</td>
            </tr>
            <tr>
              <th scope="col">USD <img src="/src/resources/flags/eeuu.png" alt=""></th>
              <td>[[currencyExchange.USD]]</td>
            </tr>
            <tr>
              <th scope="col">CAD <img src="/src/resources/flags/canadian.png" alt=""></th>
              <td>[[currencyExchange.CAD]]</td>
            </tr>
            <tr>
              <th scope="col">EUR <img src="/src/resources/flags/european.png" alt=""></th>
              <td>[[currencyExchange.EUR]]</td>
            </tr>
            <tr>
              <th scope="col">TRY <img src="/src/resources/flags/turkey.png" alt=""></th>
              <td>[[currencyExchange.TRY]]</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <iron-meta id="appconfig" key="config"></iron-meta>
    </div>
  </template>

  <script>
    /**
     * `gestor-cuentas` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class GestorCuentas extends LocalizationComponent {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'gestor-cuentas';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          misCuentas: {
            type: Object
          },
          tipoAcc: {
            type: String
          },
          mostrarMovimientos: {
            type: Boolean,
            notify: true,
            observer: 'cambioMostrar'
          },
          cuenta: {
            type: Object,
            notify: true
          },
          apiUrl: {
            type: String
          },
          currencyExchange: {
            type: Object
          },
          allDataCurrencyLoadded: {
            type: Boolean,
            value: false
          },
          existenCuentas: {
            type: Boolean,
            value: false
          },
          route: {
            type: Object
          }
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }
      onCreateAcc() {
        if(this.shadowRoot.querySelector('#tipoAccInput').value != 'Por favor seleccione el tipo de cuenta'){
          this.tipoAcc = this.shadowRoot.querySelector('#tipoAccInput').value;
          this.anadircuenta();
        }
        else{
          this.invalidnewAccount=true;
        }
      }

      crearCuenta() {
        this.set('route.path', '/home');
      }

      exchangesRound(value) {
        return Number(parseFloat(value).toFixed(3));
      }

      handleResponse(data) {
        var exchangesRequest = data.detail.response;
        var exchangesMapping = {
          'PEN': this.exchangesRound(exchangesRequest['PEN_COP']), 'USD': this.exchangesRound(exchangesRequest['USD_COP']),
          'EUR': this.exchangesRound(exchangesRequest['EUR_COP']), 'CAD': this.exchangesRound(exchangesRequest['CAD_COP']),
          'TRY': this.exchangesRound(exchangesRequest['TRY_COP'])
        };
        this.set('currencyExchange', exchangesMapping);
        this.$.currencyTable.className = 'table show-component';
      }

      obtenerCuentas() {
        this.cuenta = undefined;
        var token = sessionStorage.getItem("Session");
        const url = this.apiUrl + "/api/cuentas";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader('authorization', token);
        request.onload = () => {
          this.tokenRefresh(JSON.parse(request.response));
        };
        request.send();
        this.misCuentas = JSON.parse(request.responseText)['cuentas'];
        if (this.misCuentas.length > 0) {
          this.existenCuentas = true;
        }
      }

      cambioMostrar(nuevo, antiguo) {
        this.mostrarMovimientos = nuevo;
      }

      showDetails(e) {
        this.cuenta = e.model.item;
        this.mostrarMovimientos = true;
      }

      refreshFields() {
        this.tipoAcc = 'Por favor seleccione el tipo de cuenta';
        this.invalidnewAccount=false;
        this.closeDialog();
        
      }

      showSnack() {
        var snack = this.shadowRoot.querySelector('#snackbar');
        snack.className = "show";
        setTimeout(function () { snack.className = snack.className.replace("show", ""); }, 3000);
      }



      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();
        window.addEventListener('cuenta-creada', event =>
          this.obtenerCuentas()
        );
        this.apiUrl = JSON.parse(this.$.appconfig.byKey('config')).urlServices || 'localhost:3000'; var configMetaSession = JSON.parse(this.$.appconfig.byKey('config'));
        var apiExchangeToken = configMetaSession.currencyExchangeApiToken || 'e6390852367309111b62';
        var currencyApiParams = { "q": "PEN_COP,USD_COP,EUR_COP,CAD_COP,TRY_COP", "compact": "ultra", "apiKey": apiExchangeToken }
        this.$.currconvAjax.set('params', currencyApiParams);
        this.$.currconvAjax.generateRequest();
        this.obtenerCuentas();

      }

    }


    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>