<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../i18n-component/i18n-component.html">
<link rel="import" href="../home-app/home-app.html">


<dom-module id="login-app">
  <template>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
      body {
        font-family: 'Varela Round', sans-serif;
      }

      .modal-login {
        width: 350px;
      }

      .modal-login .modal-content {
        padding: 5px;
        border-radius: 1px;
        border: none;
        background-color: rgba(227, 254, 255, 0.2);

      }

      .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
      }

      .modal-login h4 {
        text-align: center;
        font-size: 46px;
      }

      .modal-login .form-group {
        margin-bottom: 5px;
      }

      .modal-login .form-control,
      .modal-login .btn {
        min-height: 40px;
        border-radius: 30px;
        font-size: 15px;
        transition: all 0.5s;
      }

      .modal-login .form-control {
        font-size: 13px;
      }

      .modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
      }

      .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
      }

      .modal-login .btn {
        background: #0062cc;
        border: none;
        line-height: normal;
      }

      .modal-login .btn:hover,
      .modal-login .btn:focus {
        background: #3b92ee;
      }

      .modal-login .hint-text a {
        color: #3b92ee;
      }

      .trigger-btn {
        display: inline-block;
        margin: 100px auto;
      }

      .rgba-gradient {
        background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
        background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
        background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
        background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
        background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }

      .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
      }

      .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
      }

      .register-right {
        background: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
      }

      .register-left img {
        margin-top: 15%;
        margin-bottom: 22%;
        width: 45%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
      }

      @-webkit-keyframes mover {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-20px);
        }
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-20px);
        }
      }

      .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
      }

      .register .register-form {
        padding: 10%;
        margin-top: 10%;
      }

      .btnRegister2 {
        float: left;
        margin-top: 10%;
        margin-left: 25%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
      }

      .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
      }

      .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
      }

      .register .nav-tabs .nav-link:hover {
        border: none;
      }

      .register .nav-tabs .nav-link.active {
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
      }

      .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
      }

      .tab-content {
        margin: 20% auto;
      }

      .modal-dialog {
        background-color: rgba(0, 0, 0, .0001) !important;
      }

      #view {
        background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100%;
        min-width: 1024px;
        zoom: 125%;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }

      #loginDialog p {
        font-size: 1.4vw;
      }

      #loginDialog h5 {
        font-size: 1.6vw;
      }

      #loginDialog button {
        font-size: 1.6vw;
      }

      #login, #loginDialog {
        background-color: rgba(255, 255, 255, 0.8);
      }

      .termsandcond {
        padding-left: 10%;
        padding-top: 5%;
      }

      #termsCond {
        color: #1C2DBD;
      }

      input[type=checkbox] {
        transform: scale(1.5);
      }
    </style>

    <paper-dialog id="login" with-backdrop>
      <div id="myModal">
        <div class="modal-dialog modal-login ">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Iniciar Sesión</h4>
              <button type="button" on-click="closeDialog" class="close" data-dismiss="modal"
                aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input id="userInput" type="text" class="form-control" placeholder="Correo" required="required"
                  value="{{signInEmail::input}}">
              </div>
              <div class="form-group">
                <input id="passwordInput" type="password" class="form-control" placeholder="Contraseña"
                  value="{{signInPassword::input}}" required="required">
              </div>
              <template is="dom-if" if="{{invalidUser}}">
                <p>Correo o clave incorrecto</p>
              </template>
              <div class="form-group">
                <input type="submit" on-click="onLogIn" class="btn btn-primary btn-block btn-lg" value="Entrar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </paper-dialog>

    <div id="view">
      <div class="mask  rgba-gradient align-items-center">
        <section>
          <div class="container register">
            <div class="row">
              <div class="col-md-3 register-left">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/BBVA_2019.svg/2498px-BBVA_2019.svg.png"
                  alt="" />
                <h3>¡ Bienvenido !</h3>
                <p>¡ Regístrate para consultar, dar de alta a tus cuentas, movimientos y mucho más! </p>
                <input type="submit" name="" value="Iniciar Sesión" class="btnRegister" on-click="toggleDialog" /><br />

              </div>
              <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">¡ Regístrate !</h3>
                    <div class="row register-form">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Nombre *"
                            value="{{signUpName::input}}" />
                        </div>
                        <div class="form-group">
                          <input id="signUpLastname" type="text" class="form-control" placeholder="Apellido *"
                            value="{{signUpLastname::input}}" />
                        </div>
                        <div class="form-group">
                          <input id="signUpEmail" type="email" class="form-control" placeholder="Correo Electrónico *"
                            value="{{signUpEmail::input}}" />
                        </div>
                        <div class="form-group">
                          <input type="text" minlength="6" type="number" class="form-control" placeholder="Teléfono *"
                            value="{{phoneNumber::input}}" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input id="signUpPassword" type="password" class="form-control" placeholder="Contraseña *"
                            value="{{signUpPassword1::input}}" />
                        </div>
                        <div class="form-group">
                          <input id="signUpPassword2" type="password" class="form-control"
                            placeholder="Confirmar Contraseña *" value="{{signUpPassword2::input}}" />
                        </div>
                        <div class="form-group termsandcond">
                          <input type="checkbox" checked="{{token::input}}" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                            Acepta <a id="termsCond"
                              href="https://www.bbva.es/eng/sistema/meta/info-legal/bases.jsp">terminos y condiciones</a>
                          </label>
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btnRegister2" on-click="onSignUp" value="Registrarse" />
                        </div>
                        <!-- Button trigger modal -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <paper-dialog id="loginDialog" with-backdrop>
      <div class="modal-header">
        <h5 class="modal-title" id="titleLoginModal"></h5>
      </div>
      <div class="modal-body">
        <p id="pLoginModal"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" on-click="closeModal">Aceptar</button>
      </div>
    </paper-dialog>


    <app-location route="{{route}}"></app-location>
    <iron-meta id="appconfig" key="config"></iron-meta>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends LocalizationComponent {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          signInEmail: {
            type: String
          },
          signInPassword: {
            type: String
          },
          signUpName: {
            type: String
          },
          signUpLastname: {
            type: String
          },
          signUpEmail: {
            type: String
          },
          signUpPassword1: {
            type: String
          },
          signUpPassword2: {
            type: String
          },
          authenticated: {
            type: Boolean,
            notify: true
          },
          phoneNumber: {
            type: Number
          },
          route: {
            type: Object
          },
          apiUrl: {
            type: String
          },
          i18n: {
            type: Object
          },
          invalidUser: {
            type: Boolean
          },
          token: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          'userLoginIntent(signInEmail, signInPassword)'
        ]
      }

      executeCaptcha() {
        this.$.myGoogleCaptcha.render(this.$.signUpPassword2);
      }

      userLoginIntent(signInEmail, signInPassword) {
        this.invalidUser = false;
      }

      toggleDialog() {
        this.$.login.open();
      }

      closeDialog() {
        this.$.login.close();
      }

      closeModal() {
        this.$.loginDialog.close();
      }

      showModalResponse(tittle, paragraph) {
        this.$.titleLoginModal.innerText = tittle;
        this.$.pLoginModal.innerText = paragraph;
        this.$.loginDialog.open();
      }

      validateSignIn() {
        if (!this.validateStringUserField(this.signInEmail, 'email')) {
          this.showModalResponse(this.localize('login-failure-title'), this.localize('invalid-email'));
          return false;
        }
        if (!this.validateStringUserField(this.signInPassword, 'password')) {
          this.showModalResponse(this.localize('login-failure-title'), this.localize('invalid-password-format'));
          return false;
        }
        return true;
      }

      validateSignUp() {
        if (!this.validateStringUserField(this.signUpName, '')) {
          this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('invalid-name-format'));
          return false;
        }
        if (!this.validateStringUserField(this.signUpLastname, '')) {
          this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('invalid-lastname-format'));
          return false;
        }
        if (!this.validateStringUserField(this.signUpEmail, 'email')) {
          this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('invalid-email'));
          return false;
        }
        if (!this.validateStringUserField(this.phoneNumber, 'phone')) {
          this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('invalid-phone-format'));
          return false;
        }
        if (!this.validateStringUserField(this.signUpPassword1, 'password')) {
          this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('invalid-password-format'));
          return false;
        }
        return true;
      }

      onSignUp() {
        if (this.validateSignUp()) {
          if (this.token) {
            if (this.signUpPassword1 == this.signUpPassword2) {
              const urlCreateUser = this.apiUrl + "/usuarios";
              var request = new XMLHttpRequest();
              request.open("POST", urlCreateUser, false);
              request.setRequestHeader("Accept", "application/json");
              request.setRequestHeader("Content-Type", "application/json");
              let usuario = { "nombre": this.signUpName, "apellido": this.signUpLastname, "email": this.signUpEmail, "password": this.signUpPassword1 };
              request.onload = () => {
                if (request.status >= 200 && request.status < 300) {
                  this.showModalResponse(this.localize('userCreation-success-title'), this.localize('userCreation-success-message'));
                } else {
                  this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('userCreation-failure-wrongInformation'));
                }
                this.refreshFields();
              };
              request.onerror = () => {
                this.refreshFields();
                this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('userCreation-failure-system'));
              };
              try {
                request.send(JSON.stringify(usuario));
              } catch (error) {
                this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('userCreation-failure-system'));
              }
            } else {
              this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('differente-passwords'));
            }
          } else {
            this.showModalResponse(this.localize('userCreation-failure-title'), this.localize('termsconditions-verify'));
          }
        }
      }

      refreshFields() {
        this.signInEmail = "";
        this.signInPassword = "";
        this.invalidUser = false;
        this.signUpName = "";
        this.signUpEmail = "";
        this.signUpPassword1 = "";
        this.signUpPassword2 = "";
        this.phoneNumber = "";
        this.signUpLastname = "";
      }

      onLogIn() {
        this.set('route.path', '/home');
        if (this.validateSignIn()) {
          const urlLoginUser = this.apiUrl + "/login";
          var request = new XMLHttpRequest();
          request.open("POST", urlLoginUser, false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          let usuarioLogIn = { "email": this.signInEmail, "password": this.signInPassword };
          request.onload = () => {
            if (request.status >= 200 && request.status < 300) {
              this.refreshFields();
              this.$.login.close();
              var requestObj = JSON.parse(request.response);
              sessionStorage.setItem("Session", requestObj['token']);
              this.set('authenticated', 'true');
              this.set('route.path', '/home');
            } else {
              this.refreshFields();
              this.set('invalidUser', true);
            }
          };
          request.onerror = () => {
            this.refreshFields();
          };
          try {
            request.send(JSON.stringify(usuarioLogIn));
          } catch (error) {
            this.showModalResponse(this.localize('login-failure-title'), this.localize('login-failure-system'));
          }
        }
      }

      ready() {
        super.ready();
        this.refreshFields();
        this.$.login.close();
        this.apiUrl = JSON.parse(this.$.appconfig.byKey('config')).urlServices || 'localhost:3000';
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>