<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="lazy-import" href="../login-app/login-app.html">
<link rel="lazy-import" href="../gestor-cuentas/gestor-cuentas.html">
<link rel="lazy-import" href="../my-view404/my-view404.html">
<link rel="lazy-import" href="../information-app/information-app.html">

<dom-module id="home-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>

    <style>
      #menuItems a {
        font-size: 1.7vw;
      }

      .navbar-default {
        background-color: rgb(244, 244, 244)
      }

      .bbva-logo {
        width: 90px;
        height: 70px;
      }

      @media (min-width: 1000px) {
        #menuItems a {
          font-size: 1.8vw;
        }

        .bbva-logo {
          width: 120px;
          height: 100px;
        }
      }

      @media (min-width: 1420px) {
        #menuItems a {
          font-size: 1.9vw;
        }

        .bbva-logo {
          width: 130px;
          height: 110px;
        }
      }

      .a-between {
        margin-left: 5%;
      }

      #menuItems a:hover {
        color: #040A90;
      }

      
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <iron-ajax auto url="../appconfig.json" handle-as="json" last-response="{{appconfig}}"></iron-ajax>
    <iron-meta id="appconfig" key="config" value$="{{appconfig}}"></iron-meta>

    <template is="dom-if" if="{{authenticated}}">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-default d-flex">
          <a class="navbar-brand mr-auto p-2">
            <img class="bbva-logo" src="/src/resources/BBVA_2019.svg" alt="">
          </a>
          <div id="menuItems" class="navbar-nav p-2 list-group-horizontal">
            <a class="nav-item nav-link" href="[[rootPath]]home">Inicio <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link a-between" href="[[rootPath]]cuentas">Cuentas</a>
            <a class="nav-item nav-link a-between" on-click="userLogout">Logout</button>
          </div>

        </nav>
      </header>
    </template>

    <section>
      <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
        <!--Agregar las paginas que se deseen-->
        <login-app name="login" authenticated="{{authenticated}}" language="[[language]]"></login-app>
        <information-app name="home"></information-app>
        <gestor-cuentas id="migestorcuentas" route="{{route}}" name="cuentas" mostrar-movimientos="{{mostrarMovimientos}}"></gestor-cuentas>
        <my-view404 name="view404"></my-view404>
      </iron-pages>
    </section>


  </template>

  <script>
    /**
     * `home-app` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class HomeApp extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'home-app';
      }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          route: Object,
          authenticated: {
            type: Boolean,
            value: false
          },
          appconfig: Object,
          language: {
            type: String,
            value: 'en'
          },
          mostrarMovimientos: {
            type: Boolean,
            value: false,
            notify: true
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      userLogout() {
        if (this.authenticated) {
          var apiURL = this.appconfig["urlServices"] || 'localhost:3000';
          var token = sessionStorage.getItem("Session");
          var request = new XMLHttpRequest();
          request.open("POST", apiURL + "/logout", false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader('authorization', token);
          request.onload = () => {
            this.set('route.path', "/");
            sessionStorage.clear();
          };
          request.onerror = () => {
            console.log('Failed');
          };
          request.send();
        }
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';
        if(page == '' || page.length == 0){
          this.authenticated = false;
        }

        if (!this.authenticated || this.page == 'login') {
          this.page = 'login';
          this.set('route.path', "/");
        }

        if(this.authenticated && this.page == 'cuentas') {
          this.mostrarMovimientos = false;
          this.dispatchEvent(new CustomEvent('cuenta-creada', {bubbles: true, composed: true}));
        }

        // Close a non-persistent drawer when the page & route are changed.
        if (this.$.drawer && !this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        let pageFound;
        if (this.authenticated) {
          switch (page) {
            case 'cuentas':
              pageFound = '../gestor-cuentas/gestor-cuentas';
              break;
            case 'movimientos':
              pageFound = '../gestor-movimientos/gestor-movimientos';
              break;
            case 'home':
              pageFound = '../information-app/information-app';
              break;
            case 'login':
              pageFound = '../login-app/login-app'
              page = '';
              break;
            default:
              pageFound = '../my-view404/my-view404';
              break;
          }
        } else {
          pageFound = '../login-app/login-app';
          page = '';
        }
        const resolvedPageUrl = this.resolveUrl(pageFound + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = '../my-view404/my-view404';
      }

      ready() {
        super.ready();
      }

      attached() {
        this.loadResources(this.resolveUrl('../components/locales/locales.json'));
      }
    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>