<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">


<dom-module id="i18n-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LocalizationComponent extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() { return 'i18n-component'; }
      static get properties() {
        return {
          
        };
      }

      validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }

      validatePhoneNumber(phone) {
        var re = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
        return re.test(phone) || phone > 1000000;
      }

      validateStringUserField(value, type) {
        switch(type){
          case 'password':
            return value.length > 6;
            break;
          case 'phone':
            return this.validatePhoneNumber(value);
            break;
          case 'email':
            return value && this.validateEmail(value);
            break;
          default: 
            return value && value.length > 2;
            break;
        }
      }

      tokenRefresh(response) {
        if(response['token']) {
          console.log('refresco del token');
          sessionStorage.setItem("Session", response['token']);
        }
      }

      ready() {
        super.ready();
        this.language = 'es';
        this.loadResources(this.resolveUrl('../components/locales/locales.json'));
      }
    }

    window.customElements.define(LocalizationComponent.is, LocalizationComponent);
  </script>
</dom-module>