<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../i18n-component/i18n-component.html">
<link rel="import" href="../home-app/home-app.html">


<dom-module id="information-app">
  <template>
    <link rel="stylesheet" href="/src/components/bootstrap/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
      <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
   <style>
     body {
        font-family: 'Varela Round', sans-serif;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0
      }

      a:hover {
        text-decoration: none
      }

      button {
        cursor: pointer
      }

      button:focus {
        outline: 0 !important;
        box-shadow: none !important
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Josefin Sans", sans-serif;
        color: #2f2d4e;
        line-height: 1.2
      }

      h1,
      .h1 {
        font-size: 70px
      }

      h2,
      .h2 {
        font-weight: 600;
        font-size: 26px
      }

      @media (min-width: 1200px) {

        h2,
        .h2 {
          font-size: 50px
        }
      }

      h3,
      .h3 {
        font-size: 24px;
        font-weight: 600
      }

      @media (max-width: 1000px) {

        h3,
        .h3 {
          font-size: 19px
        }
      }

      h4,
      .h4 {
        font-size: 24px;
        font-weight: 600
      }

      @media (max-width: 450px) {

        h4,
        .h4 {
          font-size: 19px
        }
      }

      .primary-text {
        color: #f0f0f0
      }

      .mb-75px {
        margin-bottom: 35px
      }

      @media (min-width: 992px) {
        .mb-75px {
          margin-bottom: 75px
        }
      }

      .bg-lightGray {
        background: #fff8f7
      }

      .hero-left {
        padding: 10px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px
      }

      .hero-left h6 {
        font-size: 25px;
      }

      @media (min-width: 576px) {
        .hero-left {
          text-align: left;
          margin-top: 0;
          margin-bottom: 0;
          width: 50%;
          float: left;
          padding-left: 3%;
          padding-top: 0.2%
        }
      }

      @media (min-width: 1400px) {
        .hero-left {
          padding-left: 7%
        }
      }

      @media (min-width: 1840px) {
        .hero-left {
          padding-left: 15%
        }
      }

      .hero-title {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 0.929
      }

      @media (min-width: 840px) {
        .hero-title {
          font-size: 35px;
          margin-bottom: 25px
        }
      }

      @media (min-width: 991px) {
        .hero-title {
          font-size: 40px
        }
      }

      @media (min-width: 1140px) {
        .hero-title {
          font-size: 60px
        }
      }

      .hero-info {
        padding-top: 60px
      }

      @media (min-width: 850px) {
        .hero-info img {
          width: 70px;
          height: 70px;
        }
      }

      @media (min-width: 1200px) {
        .hero-info img {
          width: 100px;
          height: 100px;
        }
      }

      @media (min-width: 1420px) {
        .hero-info {
          padding-top: 140px
        }

        .hero-info img {
          width: 128px;
          height: 128px;
        }
      }

      .hero-info li {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 10px
      }

      @media (min-width: 850px) {
        .hero-info li {
          float: left;
          border-right: 1px solid #eeeeee;
          margin-bottom: 0
        }
      }

      @media (min-width: 1200px) {
        .hero-info li {
          padding-right: 35px;
          padding-left: 35px
        }
      }

      .hero-info li:first-child {
        padding-left: 0
      }

      .hero-info li:last-child {
        border-right: 0;
        padding-right: 0
      }

      .hero-info h4 {
        font-size: 18px;
        margin-top: 15px
      }

      .hero-info::after {
        content: "";
        display: block;
        clear: both;
        display: table
      }

      .hero-banner__video {
        background: url(../img/home/play-icon.png) left center no-repeat;
        margin-left: 15px;
        padding: 12px 5px 12px 45px !important;
        font-size: 14px;
        font-weight: 600;
        color: #2f2d4e
      }

      @media (min-width: 800px) {
        .hero-banner__video {
          margin-left: 35px
        }
      }

      .hero-banner__video img {
        margin-right: 7px
      }

      .hero-right {
        padding-left: 5%;
      }

      @media (min-width: 576px) {
        .hero-right {
          width: 43%;
          float: left
        }
      }

      .hero-right {
        width: 43%;
        float: left
      }

      .hero-wrapper {
        position: relative
      }

      .hero-wrapper .social-icons {
        position: absolute;
        top: 43%;
        transform: translateY(-50%);
        left: 25px
      }

      @media (min-width: 1400px) {
        .hero-wrapper .social-icons {
          left: 75px
        }
      }

      .hero-wrapper .social-icons li {
        margin-bottom: 35px
      }

      .hero-wrapper .social-icons li:last-child {
        margin-bottom: 0
      }

      .hero-wrapper .social-icons i,
      .hero-wrapper .social-icons span {
        font-size: 20px;
        color: #2f2d4e
      }

      .hero-wrapper .social-icons a:hover i,
      .hero-wrapper .social-icons a:hover span {
        color: #eee4e2
      }

      .hero-wrapper::after {
        content: "";
        display: block;
        clear: both;
        display: table
      }

      .hero-banner-sm .hero-title {
        font-size: 30px;
        margin-bottom: 15px
      }

      @media (min-width: 1000px) {
        .hero-banner-sm .hero-title {
          font-size: 60px
        }
      }

      .hero-banner-sm .hero-info {
        padding-top: 20px
      }

      @media (min-width: 1000px) {
        .hero-banner-sm .hero-info {
          padding-top: 40px
        }
      }

      .hero-banner-sm .hero-left {
        padding-top: 7%
      }

      .hero-banner-sm .hero-right .owl-carousel {
        max-height: 600px;
        overflow: hidden
      }

      @media (min-width: 575px) {
        .hero-banner-sm .hero-right {
          width: 50%
        }
      }

      #BBVA-img {
        margin-top: 5%;
      }

      #home-laptop-img {
        margin-top: 10%;
      }

      .button {
        display: inline-block;
        background-color: #3477be;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border-radius: 30px;
        padding: 9px 25px;
        margin-top: 35px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s
      }

      @media (min-width: 600px) {
        .button {
          padding: 12px 45px
        }
      }

      .button:hover {
        background-color: #3b92ee;
        color: #fff
      }

      .button-header {
        padding: 7px 26px;
        border-radius: 0
      }

      .button-hero {
        align-self: center;
        font-size: 3.0vh;
      }

      @media (max-width: 845px) {
        .button-hero {
          padding: 8px 19px
        }
      }

      .button-shadow {
        box-shadow: #eee4e2
      }

      button.button {
        border: 0
      }

      .button-contactForm {
        border-radius: 5px
      }

      .footer-area {
        padding: 120px 0px 120px;
        background: #fff8f7
      }

      #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }

      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

      @-webkit-keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }

        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }

        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @-webkit-keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }

        to {
          bottom: 0;
          opacity: 0;
        }
      }

      @keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }

        to {
          bottom: 0;
          opacity: 0;
        }
      }

      .whiteletter {
        color: white;
      }

      .rgba-gradient {

        background: rgba(153, 225, 247, 0.7);
        background: -moz-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153, 225, 247, 0.7)), color-stop(0%, rgba(164, 219, 237, 0.7)), color-stop(28%, rgba(200, 233, 244, 0.06)), color-stop(57%, rgba(238, 248, 252, 0.06)), color-stop(70%, rgba(255, 255, 255, 0.29)), color-stop(76%, rgba(236, 239, 242, 0.39)), color-stop(91%, rgba(190, 198, 209, 0.39)));
        background: -webkit-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: -o-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: -ms-linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        background: linear-gradient(45deg, rgba(153, 225, 247, 0.7) 0%, rgba(164, 219, 237, 0.7) 0%, rgba(200, 233, 244, 0.06) 28%, rgba(238, 248, 252, 0.06) 57%, rgba(255, 255, 255, 0.29) 70%, rgba(236, 239, 242, 0.39) 76%, rgba(190, 198, 209, 0.39) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e1f7', endColorstr='#bec6d1', GradientType=1);

        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        top: 0;
        left: 0;
      }

      #createAcc {
        background-color: rgba(255, 255, 255, 0.8);
      }

      .modal-dialog {
        background-color: rgba(0, 0, 0, .0001) !important;
      }

      .modal-login {
        width: 350px;
      }

      .modal-login .modal-content {
        padding: 5px;
        border-radius: 1px;
        border: none;
        background-color: rgba(227, 254, 255, 0.2);

      }

      .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
      }

      .modal-login h4 {
        text-align: center;
        font-size: 46px;
      }

      .modal-login .form-group {
        margin-bottom: 5px;
      }

      .modal-login .form-control,
      .modal-login .btn {
        min-height: 40px;
        border-radius: 30px;
        font-size: 15px;
        transition: all 0.5s;
      }

      .modal-login .form-control {
        font-size: 13px;
      }

      .modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
      }

      .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
      }

      .modal-login .btn {
        background: #0062cc;
        border: none;
        line-height: normal;
      }

      .modal-login .btn:hover,
      .modal-login .btn:focus {
        background: #3b92ee;
      }

      .modal-login .hint-text a {
        color: #3b92ee;
      }

    </style>
    <section class="hero-banner">
      <div class="hero-wrapper rgba-gradient">
        <paper-dialog id="createAcc" with-backdrop>
          <div id="myModal">
            <div class="modal-dialog modal-login ">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Crear Cuenta</h4>
                  <button type="button" on-click="closeDialog" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
                </div>
                  <select id="tipoAccInput" class="form-control" required>
                    <option class="hidden" selected disabled>Por favor seleccione el tipo de cuenta</option>
                    <option>Cuenta Corriente</option>
                    <option>Cuenta de Ahorros</option>
                  </select>
                  <br>
                    <button on-click="onCreateAcc" class="btn btn-primary btn-block btn-lg">Crear Cuenta</button>
                    <template is="dom-if" if="{{invalidnewAccount}}">
                        <p>Por Favor Seleccione el tipo de cuenta</p>
                      </template>
                </div>
              </div>
            </div>
          </div>
        </paper-dialog>
        <div id="snackbar">Cuenta creada satisfactoriamente</div>

        <div class="hero-left">
          <h1 class="hero-title">Ahora es mas fácil gestionar tus cuentas y movimientos en línea</h1>
          <h6 id="hero-body"> Inicia ahora y conoce los beneficios de tener tus cuentas de una manera sencilla y en un
            solo
            lugar</h6>
          <div class="d-sm-flex flex-wrap whiteletter">
            <a class="button button-hero button-shadow" on-click="crearCuenta">Crea tu cuenta ahora!</a>
          </div>
          <ul class="hero-info d-none d-lg-block">
            <li>
              <img src="/src/resources/alcance.png" alt="">
              <h4>Servicio a tu alcance</h4>
            </li>
            <li>
              <img src="/src/resources/easy-use.svg" alt="">
              <h4>Facil de usar</h4>
            </li>
            <li>
              <img src="/src/resources/support-icon.png">
              <h4>Soporte 24/7</h4>
            </li>
          </ul>
        </div>
        <div class="hero-right">
          <img id="BBVA-img" class="img-fluid" src="/src/resources/BBVA_2019.svg" alt="">
          <img id="home-laptop-img" class="img-fluid" src="/src/resources/home-laptop.jpg" alt="">
        </div>

      </div>
    </section>

    <iron-meta id="appconfig" key="config"></iron-meta>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InformationApp extends LocalizationComponent {
      static get is() { return 'information-app'; }
      static get properties() {
        return {
          tipoAcc: {
            type: String
          },
          apiUrl: {
            type: String
          },
          invalidnewAccount: {
            type: Boolean
          }
        };
      }

      onCreateAcc() {
        if(this.shadowRoot.querySelector('#tipoAccInput').value != 'Por favor seleccione el tipo de cuenta'){
          this.tipoAcc = this.shadowRoot.querySelector('#tipoAccInput').value;
          this.anadircuenta();
        }
        else{
          this.invalidnewAccount=true;
        }
      }

      anadircuenta(){
        var token = sessionStorage.getItem("Session");
        const url = this.apiUrl + "/api/cuentas/";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader('authorization', token);
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        let newCuenta = { fecha: today, listadoMovimientos: [], tipo: this.tipoAcc };
        request.onload = () => {
          this.tokenRefresh(JSON.parse(request.response));
        };
        request.send(JSON.stringify(newCuenta));
        this.respuesta = request.responseText;
        this.refreshFields();
        this.dispatchEvent(new CustomEvent('cuenta-creada', {detail: {cuenta: request.responseText}}));
        this.showSnack();
      }

      refreshFields() {
        this.tipoAcc = 'Por favor seleccione el tipo de cuenta';
        this.invalidnewAccount=false;
        this.closeDialog();
        
      }

      showSnack() {
        var snack = this.shadowRoot.querySelector('#snackbar');
        snack.className = "show";
        setTimeout(function () { snack.className = snack.className.replace("show", ""); }, 3000);
      }

      crearCuenta() {
        this.shadowRoot.querySelector('#createAcc').open();
      }

      closeDialog() {
        this.shadowRoot.querySelector('#createAcc').close();
        this.invalidnewAccount = false;
      }

      ready() {
        super.ready();
        this.apiUrl = JSON.parse(this.$.appconfig.byKey('config')).urlServices || 'localhost:3000';
      }
    }

    window.customElements.define(InformationApp.is, InformationApp);
  </script>
</dom-module>